<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818496104677-6a5umno9m144h940sabm54npl8ov74cj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818496104677-6a5umno9m144h940sabm54npl8ov74cj</string>
	<key>API_KEY</key>
	<string>AIzaSyA_0zVgqe1sYzFK9apYgrPCNEkD2zg7Hok</string>
	<key>GCM_SENDER_ID</key>
	<string>818496104677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wechat</string>
	<key>PROJECT_ID</key>
	<string>wechat-d43c1</string>
	<key>STORAGE_BUCKET</key>
	<string>wechat-d43c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818496104677:ios:09305f139d337164f0cc0c</string>
</dict>
</plist>